{% extends "app_coder/index.html" %}

{% load static %}

{% block contenido %}

{% if mi_formulario.errors %}

<p style="color: red">Están mal los datos, revisar por favor</p>

{% endif %}
<br>
<div>
    <form action="" method="POST">{% csrf_token %} <!-- Token de validacion form -->
 
        <table> 

            {{ mi_formulario.as_table }}

        </table>
        <br>
        <input class="btn-success" type="submit" value="Agregar curso :)">
    </form>
 </div>

 <br>
 <div>
    <a class="btn-outline-secondary" href="{% url 'get_curso' %}">Ver todos los cursos</a>
 </div>
 <br>

{% endblock %}
