{% extends "app_coder/index.html" %}

{% load static %}

{% block contenido %}

{% if form.errors %}

<p style="color: red">Están mal los datos, revisar por favor</p>

{% endif %}
<br>
<div>
    <p>Este es curso_form</p>
    <form action="" method="POST">{% csrf_token %} <!-- Token de validacion form -->
 
        <table> 

            {{ form.as_p }}

        </table>
        <br>
        <input class="btn-success" type="submit" value="Editar">
    </form>
 </div>

 <br>
 <div>
    <a class="btn-outline-secondary" href="{% url 'curso_list' %}">Volver</a>
 </div>
 <br>

{% endblock %}
