{% extends "app_coder/index.html" %}

{% load static %}

{% block contenido %}

<div>
    <br>
    <form action="/app_coder/buscar/" method="get">
        
        <input type="number" name="camada" id="camada" placeholder="Numero de la camada">
        <input type="submit" value="Buscar curso">

    </form>
    <br>
</div>

<div>
{% if cursos %}
 <p>Estamos buscando el: {{camada}}</p>
 <ul>
    {% for curso in cursos %}
    <li>Nombre del curso: {{curso.nombre}}</li>
    <li>Camada: {{curso.camada}}</li>
    <br>
    {% endfor %}
 </ul>
{% endif %}
</div>
{% endblock %}